
* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header-init {
    background-color: rgb(12, 78, 193);
    height: 30vh;
    display: flex;
    width: 100%;
    height: fit-content;
}

.menu-bar{
    width: 100%;
    
}

.menu-bar a{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 7px;
    font-size: 12px;
}

.menu a{
    text-align: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    width: 150px;
    border-radius: 10px;
}

h1{
    margin: 10px;
}
.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: teal;
    justify-content: space-evenly;
    height: fit-content;
}

.img-container {
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
}

.about-container {
    padding: 20px;
    margin: 20px;
}

.contact-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: teal;
    justify-content: space-evenly;
}

.table-container {
    justify-self: center;
    width: 400px;
}


h2 {
    text-align: center;
    margin: 20px;
}

.table-container p{
    justify-self: center;
    justify-content: center;
    margin: 5px;
    color: white;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    background-color: rgb(12, 78, 193);
}

.card-container {
    background-color: burlywood;
    padding: 10px;
}

.card{
    margin: 10px;
    padding: 2px;
    justify-self: center;
    border: 2px solid black;
    text-align: center;
}

.card img{
    width: 70vh;
    height: 70vh;
}


/* media queries 

/*tablet*/

@media(min-width:640px){
    header {
        width: 80vw;
        height: 40vh;
    }
    .header-init {
        height: 15vh;
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    .menu-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        height: 32px;
        font-size: 15px;
        margin-right: 20px;
    }

    .menu a{
        width: 100px;
        margin: 5px;
    }
    .container {
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        background-color: teal;
        justify-content: space-evenly;
    }

    .about-container{
        width: 400px;
    }

    .table-container {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        justify-self: center;
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        background-color: burlywood;
        padding: 10px;
    }
    .card img{
    width: 40vh;
    height: 40vh;
}
}

/*desktop*/

@media(min-width:1007px){
    header {
        width: 100vw;
        height: 60vh;
    }

    .header-init {
        height: 20vh;
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }
    .menu-bar{
        background-color: rgb(12, 78, 193);
    }

    .menu{
        margin-right: 20px;
    }

}

